.icon {
  position: absolute;
  top: 20px;
  left: 20px;
  border-radius: var(--br-3xs);
  width: 64px;
  height: 64px;
}
.syncToBuilder,
.syncYourDesigns {
  position: absolute;
  left: 20px;
  display: inline-block;
  width: 199px;
}
.syncToBuilder {
  top: 100px;
  font-weight: 600;
  height: 19px;
}
.syncYourDesigns {
  top: 135px;
  font-size: var(--font-size-smi);
  letter-spacing: 0.01em;
  line-height: 19px;
}
.builderInstance {
  width: 100%;
  height: 155px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--studio-lightmode-lightbg-f8f9fb);
  border: 1px solid var(--studio-lightmode-midseparator-dee3eb);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font1-size);
  color: var(--color-darkslategray-200);
  font-family: var(--font-inter);
}
