.kotaKinabalu,
.malaysia {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
}
.kotaKinabalu {
  top: 0;
  line-height: 24px;
  font-weight: 600;
  width: 108px;
  height: 24px;
  min-width: 108px;
}
.malaysia {
  top: 28px;
  font-size: var(--font-size-xs);
  line-height: 18px;
  color: var(--color-gray-200);
  width: 50px;
  height: 18px;
  min-width: 50px;
}
.kotaKinabaluParent,
.roundTripFrom {
  position: absolute;
  top: 0;
  left: 0;
  width: 108px;
  height: 46px;
}
.roundTripFrom {
  line-height: 18px;
  display: flex;
  align-items: center;
  width: 91px;
  height: 18px;
  min-width: 91px;
}
.s {
  position: relative;
  display: inline-block;
  min-width: 16px;
}
.div,
.sWrapper {
  position: absolute;
  display: flex;
}
.sWrapper {
  top: 8px;
  left: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-11xs-5);
}
.div {
  top: 0;
  left: 17.3px;
  font-size: var(--font-size-xl);
  font-weight: 600;
  align-items: center;
  width: 26px;
  height: 24.5px;
  min-width: 26px;
}
.frameGroup,
.roundTripFromParent {
  position: absolute;
  top: 16.5px;
  left: 0;
  width: 40.7px;
  height: 24.5px;
  color: var(--color-gray-400);
}
.roundTripFromParent {
  top: 75px;
  width: 91px;
  height: 41px;
  font-size: var(--font-size-xs);
  color: var(--color-gray-200);
}
.frameParent {
  align-self: stretch;
  height: 116px;
  position: relative;
}
.linkInner {
  position: absolute;
  top: 0;
  left: 164px;
  width: 108px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) 0 0;
  box-sizing: border-box;
}
.image11Icon,
.link {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
}
.image11Icon {
  left: 0;
  max-height: 100%;
  width: 148px;
  object-fit: cover;
}
.link {
  left: 768px;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-600);
  width: 368px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font1-size);
  color: var(--color-gray-400);
  font-family: var(--font-inter);
}
@media screen and (max-width: 450px) {
  .div {
    font-size: var(--font1-size);
  }
}
