.imageIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 305px;
  height: 300px;
  object-fit: cover;
}
.listingSubtitle,
.listingTitle1 {
  position: absolute;
  left: 0;
  letter-spacing: 0.02em;
}
.listingTitle1 {
  top: 0;
  font-weight: 600;
}
.listingSubtitle {
  top: 21px;
  font-size: var(--font-size-sm);
  color: var(--light-text);
}
.listingTitle {
  position: absolute;
  top: 0;
  left: 0;
  width: 181px;
  height: 36px;
}
.rating1 {
  position: relative;
  letter-spacing: 0.02em;
  font-weight: 600;
  display: inline-block;
  min-width: 22px;
}
.ratingValue {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs-5) 0 0;
}
.starIcon {
  position: absolute;
  top: 0;
  left: 27px;
  width: 13px;
  height: 13px;
}
.rating {
  align-self: stretch;
  height: 17.5px;
  position: relative;
}
.ratingWrapper {
  position: absolute;
  top: 11.5px;
  left: 231px;
  width: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-6xs);
  box-sizing: border-box;
  font-size: var(--font-size-sm);
}
.hostInfo {
  height: 36px;
  flex: 1;
  position: relative;
}
.listingInfo {
  position: absolute;
  top: 316px;
  left: 0;
  width: 287px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-base);
  box-sizing: border-box;
}
.night,
.price {
  letter-spacing: 0.02em;
  display: inline-block;
}
.price {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
  min-width: 45px;
  white-space: nowrap;
}
.night {
  height: 10px;
  position: relative;
  min-width: 37px;
}
.nightLabel {
  position: absolute;
  top: 0;
  left: 47px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs-5) 0 0;
  font-size: var(--font-size-sm);
  color: var(--light-text);
}
.priceInfo {
  align-self: stretch;
  height: 13px;
  position: relative;
}
.priceInfoWrapper,
.trendIcon {
  position: absolute;
  top: 0;
  left: 0;
}
.priceInfoWrapper {
  width: 84px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-5) 0 0;
  box-sizing: border-box;
}
.trendIcon {
  width: 18px;
  height: 18px;
  object-fit: cover;
}
.priceChart {
  position: relative;
  letter-spacing: 0.02em;
  display: inline-block;
  min-width: 70px;
}
.bestTime,
.chart {
  position: absolute;
  top: 0;
}
.chart {
  left: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs-5) 0 0;
}
.bestTime {
  left: 179px;
  width: 94px;
  height: 18px;
  font-size: var(--font-size-sm);
  color: var(--accent);
}
.bookmarkIcon {
  height: 18px;
  flex: 1;
  position: relative;
}
.bookmark {
  position: absolute;
  top: 372px;
  left: 0;
  width: 289px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-base);
  box-sizing: border-box;
  font-size: var(--font-size-lgi);
}
.listingItems {
  height: 406px;
  width: 305px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--white);
  overflow: hidden;
  flex-shrink: 0;
}
.imageIcon1 {
  align-self: stretch;
  flex: 1;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.superhostIcon {
  height: 10px;
  width: 6.7px;
  position: relative;
  min-height: 10px;
}
.superhost {
  height: 8px;
  position: relative;
  letter-spacing: -0.01em;
  font-weight: 500;
  display: flex;
  align-items: center;
  min-width: 56px;
}
.heartIcon,
.superhostTag {
  position: absolute;
  margin: 0 !important;
  top: 10px;
  z-index: 1;
}
.superhostTag {
  left: 10px;
  border-radius: var(--br-smi);
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-6xs);
  gap: var(--gap-11xs);
}
.heartIcon {
  width: 30px;
  height: 30px;
  right: 27px;
  object-fit: cover;
}
.listingSubtitle1,
.listingTitle2 {
  position: relative;
  letter-spacing: 0.02em;
}
.listingTitle2 {
  font-weight: 600;
  display: inline-block;
  min-width: 112px;
}
.listingSubtitle1 {
  font-size: var(--font-size-sm);
  line-height: 15.5px;
  color: var(--light-text);
}
.listingCont {
  width: 231px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-9xs);
}
.rating2 {
  height: 10px;
  position: relative;
  letter-spacing: 0.02em;
  font-weight: 600;
  display: flex;
  align-items: center;
  min-width: 22px;
}
.starIcon1 {
  height: 13px;
  width: 13px;
  position: relative;
  min-height: 13px;
}
.listingInfo1,
.ratingCont {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ratingCont {
  justify-content: flex-start;
  padding: 0 var(--padding-11xs) 0 0;
  gap: var(--gap-8xs);
  font-size: var(--font-size-sm);
}
.listingInfo1 {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-0);
  row-gap: 20px;
}
.night1,
.price1 {
  position: relative;
  letter-spacing: 0.02em;
  display: inline-block;
}
.price1 {
  height: 13px;
  font-weight: 600;
  min-width: 45px;
  white-space: nowrap;
}
.night1 {
  height: 10px;
  font-size: var(--font-size-sm);
  color: var(--light-text);
  min-width: 37px;
}
.pricePerNight {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-56xl) 0 0;
  gap: var(--gap-11xs);
}
.trendIcon1 {
  height: 18px;
  width: 18px;
  position: relative;
  min-height: 18px;
}
.bestTime1,
.bottomContainer,
.itemDetails {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.bestTime1 {
  gap: var(--gap-7xs);
  font-size: var(--font-size-sm);
  color: var(--accent);
}
.bottomContainer,
.itemDetails {
  gap: var(--gap-xl);
  font-size: var(--font-size-lgi);
}
.itemDetails {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-base);
  font-size: var(--font1-size);
  color: var(--dark);
}
.listingGrid,
.listingItems1 {
  position: relative;
  display: flex;
  align-items: flex-start;
}
.listingItems1 {
  height: 406px;
  width: 305px;
  border-radius: var(--br-3xs);
  background-color: var(--white);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
  font-size: var(--font-size-xs);
  color: var(--accent);
}
.listingGrid {
  width: 100%;
  height: 1660px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px 18.7px;
  text-align: left;
  font-size: var(--font1-size);
  color: var(--dark);
  font-family: var(--font-archivo);
}
