@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=SF+Pro+Display:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Taviraj:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;
  --font-archivo: Archivo;
  --font-roboto: Roboto;
  --font-sf-pro-display: "SF Pro Display";
  --font-taviraj: Taviraj;
  --font: Poppins;
  --font-open-sans: "Open Sans";

  /* font sizes */
  --font1-size: 16px;
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;
  --font-size-xl: 20px;
  --font-size-xs: 12px;
  --font-size-mini: 15px;
  --font-size-17xl: 36px;
  --font-size-3xl: 22px;
  --font-size-10xl: 29px;
  --font-size-smi: 13px;
  --font-size-sm: 14px;
  --font-size-smi-1: 12.1px;
  --font-size-base-8: 15.8px;
  --font-size-base-5: 15.5px;
  --font-size-lg-3: 18.3px;
  --font-size-9xl: 28px;
  --font-size: 50px;
  --font-size-11xl: 30px;
  --font-size-21xl: 40px;
  --font-size-2xl: 21px;
  --font-size-mid: 17px;
  --font2-size: 67px;
  --font-size-35xl: 54px;
  --font-size-21xl-4: 40.4px;
  --font-size-13xl: 32px;
  --font-size-lg: 18px;
  --font-size-7xl: 26px;

  /* Colors */
  --white: #fff;
  --white1: #fefeff;
  --gray-2: #fafafa;
  --color-gray-100: #8a8a8a;
  --light-text: #787878;
  --color-gray-200: #767676;
  --zinc-800: #27272a;
  --darker: #262626;
  --text-heading-color: #1f1f1f;
  --color-gray-300: #1e1e1e;
  --color-gray-400: #1d1d1d;
  --dark: #171e1d;
  --color-gray-800: rgba(254, 254, 255, 0.45);
  --color-gray-900: rgba(0, 0, 0, 0.45);
  --color-gray-500: rgba(29, 29, 29, 0.48);
  --color-gray-600: rgba(255, 255, 255, 0);
  --color-gray-700: rgba(0, 0, 0, 0);
  --color-dimgray-100: #726e75;
  --color-dimgray-200: #5e6163;
  --color-dimgray-300: #565656;
  --studio-lightmode-lightbg-f8f9fb: #f8f9fb;
  --color-whitesmoke-100: #f6f6f6;
  --light-bg: #f4f4f4;
  --color-whitesmoke-300: #eef0f4;
  --light-grey-border1: #e8eae9;
  --color-whitesmoke-400: #e8e9e9;
  --color-limegreen-100: #44b50c;
  --light-text1: #a6a6a6;
  --color-gainsboro-100: #e6e6e6;
  --studio-lightmode-midseparator-dee3eb: #dee3eb;
  --color-gainsboro-200: #dfdfdf;
  --gray-color: #bebebe;
  --color-silver-100: #bdbdbd;
  --darker-gray-border: #bbb;
  --color-darkslategray-200: #3f4c5a;
  --color-darkslategray-300: #3d3b40;
  --color-darkslategray-400: #383a3e;
  --color-darkslategray-500: #2e3758;
  --dark1: #373737;
  --color-darkslategray-600: #333;
  --color-aliceblue-100: #f3f8ff;
  --color-aliceblue-200: #ebf3ff;
  --light-grey-border: #e8ecf2;
  --accent: #00c29f;
  --accent1: #00e377;
  --color-mediumspringgreen-100: #00c95e;
  --color-mediumspringgreen-300: rgba(0, 201, 94, 0.09);
  --color-steelblue: #00639e;
  --color-black: #000;
  --studio-darkmode-maincta-457eff: #457eff;
  --color-purple: #820966;
  --color-mediumvioletred: #a8308c;
  --color-solid-medium-2-5: rgba(124, 130, 155, 0.05);
  --color-lightgray: #cccfd9;
  --color-slategray-400: rgba(71, 80, 115, 0.7);
  --color-slategray-300: rgba(71, 80, 115, 0.3);

  /* Gaps */
  --gap-sm: 14px;
  --gap-5xs: 8px;
  --gap-11xl: 30px;
  --gap-xl: 20px;
  --gap-3xs: 10px;
  --gap-xs: 12px;
  --gap-7xs: 6px;
  --gap-11xs: 2px;
  --gap-0: 0px;
  --gap-8xs: 5px;
  --gap-9xs: 4px;
  --gap-5xl: 24px;
  --gap-base: 16px;
  --gap-6xs: 7px;
  --gap-53xl: 72px;
  --gap-17xl: 36px;
  --gap-12xs: 1px;
  --gap-smi: 13px;
  --gap-4xs: 9px;

  /* Paddings */
  --padding-11xs: 2px;
  --padding-xl: 20px;
  --padding-base: 16px;
  --padding-smi: 13px;
  --padding-5xs: 8px;
  --padding-3xs: 10px;
  --padding-12xs: 1px;
  --padding-base-5: 15.5px;
  --padding-11xs-5: 1.5px;
  --padding-7xs: 6px;
  --padding-10xs: 3px;
  --padding-3xl: 22px;
  --padding-17xl: 36px;
  --padding-21xl: 40px;
  --padding-8xs: 5px;
  --padding-15xl: 34px;
  --padding-6xs-3: 6.3px;
  --padding-9xs: 4px;
  --padding-11xl: 30px;
  --padding-6xl: 25px;
  --padding-xs: 12px;
  --padding-2xl: 21px;
  --padding-9xs-3: 3.3px;
  --padding-lg: 18px;
  --padding-lgi: 19px;
  --padding-2xs-5: 10.5px;
  --padding-2xs: 11px;
  --padding-10xl: 29px;
  --padding-mini: 15px;
  --padding-sm: 14px;
  --padding-16xl: 35px;
  --padding-61xl: 80px;
  --padding-56xl: 75px;
  --padding-76xl: 95px;
  --padding-6xs: 7px;
  --padding-10xs-5: 2.5px;
  --padding-31xl: 50px;
  --padding-4xs: 9px;
  --padding-20xl: 39px;
  --padding-19xl: 38px;
  --padding-9xl: 28px;

  /* Border radiuses */
  --br-5xl: 24px;
  --br-5xs: 8px;
  --br-81xl: 100px;
  --br-21xl: 40px;
  --br-11xs: 2px;
  --br-1311xl-4: 1330.4px;
  --br-3xs: 10px;
  --br-smi: 13px;
  --br-lg: 18px;
  --br-xs: 12px;
  --br-51xl: 70px;
  --br-sm: 14px;
  --br-mini: 15px;
  --br-4xs: 9px;
  --br-7xs: 6px;
  --br-11xl: 30px;
  --br-mid-5: 17.5px;
  --br-9xs: 4px;
}
